<div class="container main-content">
    <div class="row mx-0 chat-box">
            <div class="col-md-4 chat-list">
                <app-chat-list></app-chat-list>
            </div>

            <div class="col-md-8 message-box" *ngIf="showChatMessages">
                <app-chat-box ></app-chat-box>
            </div>
            <div class="col-md-8 message-box" *ngIf="!showChatMessages">
                <img src="../../../assets/dJq9qKG5lDb.png" alt="">
            </div>
    </div>
</div>